name: Publish release

on:
  push:
    tags:
    - '*' # Push events to matching *, i.e. 1.0, 20.15.10

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Build executable
      run: go build .

    - name: Tar executable
      run: tar -czvf helm-overdrive.linux-amd64.tar.gz helm-overdrive

    - name: Create release
      uses: actions/create-release@v1
      id: create_release
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Upload linux artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: helm-overdrive.linux-amd64.tar.gz
        asset_name: helm-overdrive.linux-amd64.tar.gz
        asset_content_type: application/gzip
